h1, ul {
    color:  aqua;
    text-align: center;
    margin-right: 25px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

a {
    color: whitesmoke;
    text-align: center;
    margin-right: 45px;
}

body {
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -325px;
    font-family: 'Bangers', cursive;
    font-family: 'Poiret One', cursive;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}